\begin{center}
{\bfseries\zihao{3} {{TITLE_EN}}}\par
\end{center}

\vspace{1.2em}
\noindent{\bfseries Abstract:}\par
{{ABSTRACT_EN_BODY}}

\vspace{0.4em}
\noindent{\bfseries Keywords:}\ {{KEYWORDS_EN}}\par
{{CLASSIFICATION_EN_LINE}}