\begin{center}
{\heiti\zihao{3} {{TITLE_ZH}}}\par
\end{center}

\vspace{1.2em}
\noindent{\heiti 摘要：}\par
{{ABSTRACT_ZH_BODY}}

\vspace{0.4em}
图 {{FIG_N}}，表 {{TAB_N}}，参考文献 {{REF_N}} 篇。\par
\noindent{\heiti 关键词：}{{KEYWORDS_ZH}}\par
{{CLASSIFICATION_ZH_LINE}}